################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPOConsole/packages/Microsoft.SharePointOnline.CSOM.16.1.20324.12000
/SPOConsole/SPOConsole/bin/Debug
SPOConsole/.vs/SPOConsole/v16/.suo
SPOConsole/.vs/SPOConsole/v16/.suo
SPOConsole/SPOConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SPOConsole/SPOConsole/obj/Debug/SPOConsole.csproj.CopyComplete
SPOConsole/SPOConsole/obj/Debug/SPOConsole.csproj.CoreCompileInputs.cache
SPOConsole/SPOConsole/obj/Debug/SPOConsole.csproj.FileListAbsolute.txt
SPOConsole/SPOConsole/obj/Debug/SPOConsole.csprojAssemblyReference.cache
SPOConsole/SPOConsole/obj/Debug/SPOConsole.exe
SPOConsole/SPOConsole/obj/Debug/SPOConsole.csprojAssemblyReference.cache
SPOConsole/SPOConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SPOConsole/.vs/SPOConsole/v16/.suo
SPOConsole/SPOConsole/obj/Debug/SPOConsole.pdb
SPOConsole/SPOConsole/obj/Debug/SPOConsole.csprojAssemblyReference.cache
SPOConsole/SPOConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SPOConsole/.vs/SPOConsole/v16/.suo
